body{
    background-color: #f6f3f7;
    max-width: 1000px;
    min-width: 590px;
    align-content: center;
}
div{
    border: 2px;
    border-color: grey; 
}

#title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #4a4946;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;;
    height: 100px;
    max-width: 1200px;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #4a4946;
}

#due-section{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    right: 80px;
    padding-bottom: 20px;
    margin-bottom: 20px; 
    border-bottom: 2px solid;; 
    border-color: #b8b7b8; 
    align-content: space-between;
}

#amount-due{
    display: flex;
    justify-content: flex-start;
    width: 150px;
    height: 20px;
    margin-right: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#amount-received{
    display: flex;
    justify-content: flex-end;
    width: 150px;
    height: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#calculate-change{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #4a4946;
    color: whitesmoke;
    height: 60px; 
    width: 400px; 
}

#button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 5px;
}

.money-label{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#change-returned{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #4a4946;
    border-top: 5px; 
    margin-top: 20px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: #b8b7b8;
}

#more-money {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #e44141
}
